* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: rgb(38, 77, 109);
}

.logo{
    font-size: 1.8rem;
}

.logo span {
    color: rgb(228, 11, 11);
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
    list-style: none;
    margin: 20px 25px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
 font-size: 1.6rem;
}

.right{
    margin: 35px 0;
}